form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    background-color: $background-color;
  }

  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: $secondary-color;
    }
  }
}