.news-item {
  max-width: 300px;
  background-color: $white;
  @include border-radius;
  @include box-shadow;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $border-color;
    @include border-radius($border-radius $border-radius 0 0);
  }

  h3 {
    font-size: $font-size-large;
    margin: $spacing-small;
    color: $text-color;
  }

  p {
    font-size: $font-size-small;
    margin: 0 $spacing-small $spacing-small;
    color: darken($text-color, 20%);
    line-height: 1.5;
  }

  .btn {
    @extend .btn;
    margin: $spacing-small auto;
  }
}