$primary-color: #007bff;
$secondary-color: #0056b3;
$background-color: #f4f4f4;
$text-color: #333;
$navbar-bg-color: #222;
$font-family: 'Roboto', sans-serif;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$border-radius: 10px;

// Nuevas variables
$light-gray: #f9f9f9; // Color de fondo claro
$dark-gray: #333; // Color de texto oscuro
$hover-blue: #0056b3; // Color de hover para botones y enlaces
$white: #ffffff; // Color blanco
$border-color: #ddd; // Color de bordes