$primary-color: #007bff;
$secondary-color: #0056b3;
$background-color: #f4f4f4;
$text-color: #333;
$navbar-bg-color: #222;
$font-family: 'Roboto', sans-serif;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$border-radius: 10px;

// Nuevas variables
$light-gray: #f9f9f9;
$dark-gray: #333;
$hover-blue: #0056b3;
$white: #ffffff;
$border-color: #ddd;

// Tamaños y espaciados
$font-size-small: 0.875rem;
$font-size-large: 1.5rem;
$spacing-small: 10px;
$spacing-large: 20px;