.hero {
    background-color: $navbar-bg-color;
    color: white;
    text-align: center;
    padding: 80px 20px;
  
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: $primary-color;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      position: relative;
    
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -20px; // Extiende la línea hacia la izquierda
        right: -20px; // Extiende la línea hacia la derecha
        height: 3px;
        background-color: $secondary-color;
      }
    }
  }